@import '/src/styles/main.scss';

.default-button {
	padding: 10px 20px;
	font-size: 1.2rem;
	border-radius: 30px;
	text-transform: uppercase;
	color: $white;
	background-color: $primary-color;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: $primary-color-hover;
	}

	@include respond(small) {
		padding: 12px 24px;
		font-size: 1.3rem;
	}
}
