$breakpoints: (
	small: 576px,
	medium: 772px,
	large: 992px,
	extra-large: 1200px,
);

@mixin respond($size) {
	@if map-has-key($breakpoints, $size) {
		@media (min-width: map-get($breakpoints, $size)) {
			@content;
		}
	} @else {
		@warn "Nie znaleziono breakpointu: #{$size}";
	}
}
