$primary-color: #6d44ad;
$primary-color-hover: #4a3074;
$secondary-color: #dd5082;
$secondary-color-hover: #a73c61;
$third-color: #1a1b3d;
$text-color: #969696;

$white: #fff;
$white-hover: #d3d3d3;
$black: #000;

$color1: #fbc639;
$color2: #f43e2e;
$color3: #129bd6;
